:root {

}

body {
    /* background-color: rgb(186, 99, 99); */
    font-family: "eb+garamound";
    height: 100%;
    width: 100%;
    color: white;
}

.navbar {
    background-color: rgb(19, 19, 19);
    padding: 20px;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    /* padding: 40px; */
}

.navbar ul li {
    font-size: 26px;
}

.navbar a {
    text-decoration: none;
    color: white;
}

/* Hello Section */

.hello {
    background-color: rgb(37, 37, 37);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: aqua; */
    width: 100vw;
    height: 100vh;
    /* margin: 0 20px; */
    /* margin-top: 40%;/
    /* padding: 200px; */   
}

.hello h1 {
    font-size: 50px;
    text-align: center;
}

.hello h2 {
    font-size: 40px;
    text-align: center;
}

.hello h1, .hello h2 {
    /* margin: auto; */
    /* margin-top: 50%; */
    
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
    font-size: 18px;
    border-radius: 20px;
    
}

/* About Me Section */

.about-me {
    height: 900px;
    background-color: rgb(48, 48, 48);
}

.about-me h2, .projects h2, .contact h2 {
    /* margin: 20px; */
    padding: 60px;
    font-size: 50px;
    text-align: center;
}

.about-me img {
    display: block;
    margin: auto;
    padding-bottom: 20px;
    width: 200px;
}

.about-me p {
    font-size: 20px;
    margin: 0 10%;
    padding: 30px;
}

.skills {
    display: flex;
    padding: 50px;
    
}

.skills img {
    width: 100px;
    
    
}

/* Projects Section */

.projects {
    height: 700px;
    background-color:rgb(55, 55, 55);
}

.projects h2 {
    margin-bottom: 30px;
}

.proj-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    /* margin: 20px; */
}

.card {
    border: 3px solid black;
    border-radius: 15px;
    margin: 10px;
    position: relative;
}

.card h3 {
    text-align: center;
    font-size: 26px;
    padding: 10px;
    background-color: white;
    border-radius: 15px 15px 0 0;
}

.card img {
    width: 250px;
    height: 84.75%;
    border-radius: 0 0 13px 13px;
    
}

/* .card:hover {
    box-shadow: 0px 0px 30px 10px grey;
    scale: 1.08;
    transition: all .5s ease-out;
} */

.card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    box-shadow: 0px 8px 15px 10px rgba(255, 253, 253, 0.368);
    transition: opacity .5s ease;
    border-radius: 15px;

}

.card:hover::after {
    opacity: 1;
    border-radius: 15px;
}

/* Contact Me Section */

.contact  {
    background-color:rgb(0, 0, 0);
    height: 600px;
}

.form {
    display: flex;
    justify-content: center;
    
}

.contact-form {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    padding: 20px;
    
}

label, input, .form-btn {
    margin: 5px;
    font-size: 18px;
}

/* Media Query */

@media (max-width: 827px) {
  
    .card img {
        width: 150px;
        height: 77%;
    }
}  