:root {
    --red: rgb(220, 48, 48);
}

body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    width: 100%;
    color: white;
}

/* Navigation */

.navbar {
    background-color: rgb(23, 23, 23);
    padding: 20px;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
}

.navbar ul li {
    font-size: 26px;
}

.navbar a {
    text-decoration: none;
    color: white;
}
li:hover a {
    color: var(--red);
}

/* Hello Section */

.hello {
    background-color: rgb(37, 37, 37);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    
}



.hello h1 {
    font-size: 50px;
    text-align: center;
    font-weight: 600;
}


.hello h2 {
    font-size: 40px;
    text-align: center;
    font-weight: 300;
}

.b {
    display: flex;
    justify-content: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 200px;
    margin: 20px;
    padding: 10px;
    font-size: 22px;
    border-radius: 20px;
    background-color: var(--red);
    text-decoration: none;
    color: black;
    
}

.btn:hover {
    color: white;
    box-shadow: 0px 0px 10px 5px #fff;
}

/* About Me Section */

.about-me {
    height: 900px;
    background-color: rgb(48, 48, 48);
}

.about-me h2, .projects h2, .contact h2 {
    padding: 60px;
    font-size: 50px;
    text-align: center;
}

.about-me img {
    display: block;
    margin: auto;
    padding-bottom: 20px;
    width: 200px;
}

.about-me p {
    font-size: 20px;
    margin: 0 10%;
    padding: 30px;
}

.skills {
    display: flex;
    padding: 50px;
    
}

.skills img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}



/* Projects Section */

.projects {
    height: 700px;
    background-color:rgb(55, 55, 55);
}

.projects h2 {
    margin-bottom: 30px;
    
}

.proj-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    border: 3px solid black;
    border-radius: 15px;
    margin: 10px;
    position: relative;
}

.card h3 {
    text-align: center;
    font-size: 26px;
    padding: 10px;
    background-color: var(--red);
    border-radius: 12px 12px 0 0;
}

.card img {
    width: 250px;
    height: 84.75%;
    border-radius: 0 0 13px 13px;
    
}

.card:hover {
    scale: 1.07;
    transition: all .5s ease;
}

.card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    box-shadow: 0px 0px 15px 10px rgba(255, 253, 253, 0.368);
    scale: 1.05;
    transition: opacity .6s ease;
    border-radius: 15px;

}

.card:hover::after {
    opacity: 1;
    border-radius: 15px;
}

/* Contact Me Section */

.contact  {
    background-color:rgb(0, 0, 0);
    height: 800px;
}

.form {
    display: flex;
    justify-content: center;
    
}

.contact-form {
    display: flex;
    flex-direction: column;
    border: 5px solid white;
    padding: 20px;
    border-radius: 15px;
    background-color: #2a2a2a;
    width: 65vw;
    
}

label, input, .form-btn, textarea {
    margin: 5px;
    font-size: 18px;
    border-radius: 8px;
    
}

input:focus, textarea:focus {
    outline: none;
    
}

.form-btn {
    margin: 10px 40%;
    background-color: var(--red);
    border: none;
    padding: 10px;
}

.form-btn:hover {
    color: white;
    box-shadow: 0px 0px 10px 5px #fff;
}

/* footer */

footer {
    background-color: rgb(49, 49, 49);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

/* Media Query */

@media (max-width: 827px) {
  
    .card img {
        width: 150px;
        height: 77%;
    }
}  