:root {
    --red: rgb(213, 63, 44);
    --nav-footer: rgb(23, 23, 23);
}

body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    width: 100%;
    color: white;
}

/* Navigation */

.navbar {
    background-color: var(--nav-footer);
    padding: 20px;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
}

.navbar ul li {
    font-size: 22px;
}

.navbar a {
    text-decoration: none;
    color: white;
}
li:hover a {
    color: var(--red);
    transition: all .5s ease;
}

/* Hello Section */

.hello {
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(37,37,37,1) 49%, rgba(36,36,36,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;   
}

.hello h1 {
    font-size: 50px;
    text-align: center;
    font-weight: 600;
}


.hello h2 {
    font-size: 36px;
    text-align: center;
    font-weight: 300;
}

.b {
    display: flex;
    justify-content: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 200px;
    margin: 20px;
    padding: 10px;
    font-size: 22px;
    border-radius: 20px;
    background-color: var(--red);
    text-decoration: none;
    color: black;   
}

.btn:hover {
    color: white;
    box-shadow: 0px 0px 10px 2px #fff;
    transition: all .5s ease;
}

/* About Me Section */

.about-me {
    height: 900px;
    background: linear-gradient(0deg,rgba(36,36,36,1) 0%, rgba(37,37,37,1) 49%, rgba(0,0,0,1) 100%);
}

.about-me h2, .projects h2, .contact h2 {
    padding: 60px;
    font-size: 50px;
    text-align: center;
    font-weight: 600;
}

.about-me img {
    display: block;
    margin: auto;
    width: 200px;
    border-radius: 30px;
}

#portrait {
    box-shadow: 4px 8px 20px 6px rgba(255, 253, 253, 0.368);
    width: 250px;
    margin-bottom: 20px;
}

.about-me p {
    font-size: 18px;
    margin: 0 10%;
    padding: 30px;
    line-height: 1.5;
    font-weight: 300;
}

.skills {
    display: flex;
    padding: 50px;
    
}

.skills img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}



/* Projects Section */

.projects {
    height: 700px;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(37,37,37,1) 49%, rgba(36,36,36,1) 100%);;
}

.projects h2 {
    margin-bottom: 30px;
    
}

.proj-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.proj-cards a {
    text-decoration: none;
    color: white;
}

.card {
    border: 3px solid black;
    border-radius: 15px;
    margin: 10px;
    position: relative;
}

.card h3 {
    text-align: center;
    font-size: 26px;
    padding: 10px;
    background-color: var(--red);
    border-radius: 12px 12px 0 0;
}

.card img {
    width: 250px;
    height: 84.75%;
    border-radius: 0 0 13px 13px;
    
}

.card:hover {
    scale: 1.07;
    transition: all .5s ease;
}

.card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    box-shadow: 0px 0px 15px 10px rgba(255, 253, 253, 0.368);
    scale: 1.05;
    transition: opacity .6s ease;
    border-radius: 15px;

}

.card:hover::after {
    opacity: 1;
    border-radius: 15px;
}

/* Contact Me Section */

.contact  {
    background: linear-gradient(0deg,rgba(36,36,36,1) 0%, rgba(37,37,37,1) 49%, rgba(0,0,0,1) 100%);
    height: 800px;
}

.form {
    display: flex;
    justify-content: center;
    
}

.contact-form {
    display: flex;
    flex-direction: column;
    border: 5px solid rgba(255, 255, 255, 0.598);
    padding: 20px;
    border-radius: 15px;
    background-color: #2a2a2a;
    width: 65vw;
    
}

label, input, .form-btn, textarea {
    margin: 5px;
    font-size: 18px;
    border-radius: 8px;
    
}

input:focus, textarea:focus {
    outline: none;
    box-shadow: 0px 0px 4px 2px var(--red);
    transition: all .4s ease;
    
}

.form-btn {
    margin: 10px 35%;
    background-color: var(--red);
    border: none;
    padding: 10px;
}

.form-btn:hover {
    color: white;
    box-shadow: 0px 0px 10px 2px #fff;
    transition: all .5s ease;
    cursor: pointer;
}

/* footer */

footer {
    background-color: var(--nav-footer);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* Media Query */

@media (max-width: 827px) {
  
    .card img {
        width: 150px;
        height: 77%;
    }

    .projects {
        height: 500px;
    }
}  

@media (max-width: 527px ) {
    .hello h1 {
        font-size: 40px;
    }

    .hello h2 {
        font-size: 30px;
    }
    
    .projects {
        height: 700px;
    }

}

@media (max-width: 450px) {
    .skills img {
        width: 75px;
        height: 75px;
        position: relative;
        top: -45px;
    }
}